// Color
$ivetc_blue: #234170;
$ivetc_regblue: #0571cb;
$ivetc_lightblue: #5b9acd;
$ivetc_darkblue: #112146;
$ivetc_orange: #f79420;
$ivetc_grey: #6c6c6c;
$ivetc_lightgrey: #ebebeb;

.modal-header {
    background-color: $ivetc_darkblue;
}

.bg-darkblue {
    background-color: $ivetc_darkblue;
}

.text-darkblue {
    color: $ivetc_darkblue;
}

