.gen-objective {
    padding: 100px 0 80px 0;
    .title-1 {
        color: #0a5485;
    }
    .title-2 {
        color: $ivetc_regblue;
    }

    .point {
        background-color: $ivetc_orange;
    }
}
